{% extends '::base.html.twig' %}
{% block body %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

<section id="registrationConfirmerd">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <p>
Félicitations {{user.username}}, votre compte est maintenant activé.
        </p>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}

      </div>
    </div>
  </div>
</section>

{% endblock fos_user_content %}

{% block footer %}
{% endblock %}
{% endblock %}
