form {

margin-top: 100px;
}

section#showAtelier {
    margin-top: 100px;
}


section#registrationConfirmerd {
    margin-top: 70px;
}

article#articleAteliers {
    margin-bottom: 20px;
}

section#reponseAtelier {
    margin-top: 100px;
}
